
  <section class="testimonial-section">

    <div class="testimonial-header">

      <span>Testimonios</span>

      <h2>
        Lo que nuestros <br>
        <strong>clientes viven</strong>
      </h2>

      <p>
        Cada experiencia refleja el cuidado,
        profesionalismo y dedicación.
      </p>

    </div>

    <div class="testimonial-carousel">
      <div class="testimonial-item active">
        <img  src="/assets/images/reviews/resena-5.png">
      </div>

      <div class="testimonial-item">
        <img  src="/assets/images/reviews/resena-2.png" alt="">
      </div>

      <div class="testimonial-item">
        <img src="/assets/images/reviews/resena-1.png" alt="">
      </div>
      <div class="testimonial-item">
        <img src="/assets/images/reviews/resena-2.png" alt="">
      </div>

    </div>

  </section>