body {
    padding: 0;
    margin: 0;
    background: #f8f9fa;
    font-family: 'Montserrat', sans-serif;
}

#navbarAdmin-placeholder,
#navbarAdmin-placeholder .d-flex {
    min-height: 100vh;
}

.content {
    min-height: 100vh;
    background: #f8f9fa;
    font-family: 'Montserrat', sans-serif;
}